<style>
    .success{
        color: rgb(0, 138, 0);
        text-align: center;
        height: 1.2em;
        font-size: 1.2em;
        padding-top: 2px;
        position: absolute;
        top: 15%;
        width: 100%;
    }
</style>

{{#each success}}
<h2 class="success">{{message}}</h2>
{{/each}}